{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <p><b>{{ title }}</b></p>

    <ul style="list-style: none;">
    <li style="margin-top: -20px;">{{ post.author | markdownify }}</li>
    <li style="margin-top: -20px;">In: <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}</li>
    </ul>

    <p style="margin-top: -20px;">
      <small>
    {% if post.excerpt %}
      {{ post.excerpt | markdownify }}
    {% endif %}
        </small>
    </p>

    <p style="margin-top: -20px;">
    {% if post.arxiv %}
      <a href=" {{ post.arxiv }} ">[arXiv]</a>
    {% endif %}
    {% if post.code %}
      <a href=" {{ post.code }} ">[Code]</a>
    {% endif %}
    {% if post.slides %}
      <a href=" {{ post.slides }} ">[Slides]</a>
    {% endif %}
    {% if post.talk %}
      <a href=" {{ post.talk }} ">[Talk]</a>
    {% endif %}
    {% if post.blog %}
      <a href=" {{ post.blog }} ">[Blogpost]</a>
    {% endif %}
    {% if post.poster %}
      <a href=" {{ post.poster }} ">[Poster]</a>
    {% endif %}
    {% if post.doi %}
      <a href=" {{ post.doi }} ">[DOI]</a>
    {% endif %}
    {% if post.paperurl %}
      <a href=" {{ post.paperurl }} ">[URL]</a>
    {% endif %}
    </p>

  </article>
</div>
